LISTEN_IP = "172.20.1.10"
LISTEN_PORT = 5000

# Thermostats config
DATA_VALIDITY_SEC = 60
DEVICES = {
    "Test": {'ip': "192.20.9.10", 'display': "Test"},
}

# Auth tokens
AUTH_TOKENS = {
    'SampleToken': 'User Name',
}

ALLOWED_NETWORKS = ['127.0.0.1/32', '192.20.9.0/24']

PORT_NUM = 4000
LOGIN_HEX = "XXXX"

MESSAGE = ""
MESSAGE_CLOSE = True

# Router Config
ROUTER_API_IP = "172.20.9.1"
ROUTER_API_PORT = 8728
ROUTER_API_USER = "admin"
ROUTER_API_PASSWORD = "XXX"
ROUTER_DST_COMMENT = "ThermoDST"
ROUTER_SRC_COMMENT = "ThermoSRC"

# Stats Mysql Config
STATS_ENABLED = True
STATS_INTERVAL = 5 * 60
MYSQL_HOST = "localhost"
MYSQL_DB = "thermo_stats"
MYSQL_USER = "thermo_stats"
MYSQL_PASSWORD = "XXX"

# MQTT Config
MQTT_ENABLED = True
MQTT_HOST = "127.0.0.1"
MQTT_PORT = 1883
MQTT_USER = "topeni"
MQTT_PASSWORD = "XXX"
MQTT_TOPIC = "thermoswitch"